<header class="burger-navbar">
  <div class="logo">
    <img src="././img/DALLE2025-01-0815.14.36-AminimalistlogoforacompanyfeaturingasquaretagdesignwithnotextbeneathitonlythemaintextSowWhat_inboldmodernsans-seriffont1-ezgif.com-webp-to-png-converter-removebg-preview.png" alt="SowWhat? Logo">
  </div>
  <div class="burger-menu-icon" onclick="toggleBurgerMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <nav class="burger-nav-links">
    <a href="index.php?page=home">
      <ion-icon name="home"></ion-icon>
      Home
    </a>
    <a href="index.php?page=team">
      <ion-icon name="accessibility"></ion-icon>
      Team
    </a>
    <a href="index.php?page=contact">
      <ion-icon name="call"></ion-icon>
      Contacts
    </a>
    <a href="index.php?page=detection">
      <ion-icon name="eye"></ion-icon>
      Dénoncer
    </a>
  </nav>
</header>