
<header class="navbar">
	<div class="logo">
	  <img src="././img/DALLE2025-01-0815.14.36-AminimalistlogoforacompanyfeaturingasquaretagdesignwithnotextbeneathitonlythemaintextSowWhat_inboldmodernsans-seriffont1-ezgif.com-webp-to-png-converter-removebg-preview.png" alt="SowWhat? Logo">
	</div>
	<nav class="nav-links">
	  <a href="#home">
		<ion-icon name="home"></ion-icon>
		Home
	  </a>
	  <a href="#team">
		<ion-icon name="accessibility"></ion-icon>
		Team
	  </a>
	  <a href="#contacts">
		<ion-icon name="call"></ion-icon>
		Contacts
	  </a>
	</nav>
  </header>
  =======
  <div class="sidebar">
	<header>
	  <nav id="navbar">
		<img src="././img/efrei-scape-logo.png" alt="Logo" id="logo">
		<ul>
		  <li><a href="index.php?page=home">Accueil</a></li>
		  <!--			<li><a href="index.php?page=about">A propos</a></li>-->
		  <!--			<li><a href="index.php?page=contact">Contact</a></li>-->
		  <li><a href="index.php?page=article_add">Ajoutez un article</a></li>
		</ul>
	  </nav>
	</header>
  </div>