<header class="burger-navbar">
  <div class="logo">
    <a href="index.php?page=home">
      <img src="././img/logo.png" alt="SowWhat? Logo">
    </a>
  </div>
  <div class="burger-menu-icon" onclick="toggleBurgerMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <nav class="burger-nav-links">
    <a href="index.php?page=home">
      <ion-icon name="home"></ion-icon>
      Home
    </a>
    <a href="index.php?page=team">
      <ion-icon name="accessibility"></ion-icon>
      Team
    </a>
    <a href="index.php?page=contact">
      <ion-icon name="call"></ion-icon>
      Contacts
    </a>
    <a href="index.php?page=report">
      <ion-icon name="eye"></ion-icon>
      Dénoncer
    </a>
  </nav>
</header>